					</div>
					<div class="col-xs-3 col-md-3">
					<div class="row">
							<a class="twitter-timeline" data-lang="ru" data-height="720" data-link-color="#19CF86" href="https://twitter.com/RinonNinqueon">Tweets by RinonNinqueon</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
					<div class="row">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Twitter no shita de -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9817514899041475"
     data-ad-slot="8722303342"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
					</div>
		        </div>
		      </div><!-- /.proper-content -->
 
		      <div class="push"></div>
 
		    </div><!-- /.wrapper -->

	<div class="footer-wrapper">
	<footer>
		<div class="container">
			<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter"></div>
		</div>
		<hr>
		<div class="container">
				<div id="disqus_thread"></div>
			</div>
		<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_shortname = 'rinonninqueon';
    
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//rinonninqueon.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">комментарии от <span class="logo-disqus">Disqus</span></a>
<hr>
		
		<div class="container" id="id_border">
			<div class="container">
				<a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> Материалы сайта, для которых не указано иное, доступны по лицензии <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.ru">Creative Commons «Attribution-ShareAlike» («Атрибуция — На тех же условиях») 4.0 Всемирная.</a>
			</div>
		</div>
	</footer><br>
	</div>
	</div>
  </body>
</html>
