---
layout: default
title: Альбомы || Rinon Ninqueon
---
<h1>Альбомы</h1>

<div class="row">
{% assign counter = 0 %}
{% assign end_div = false %}
{% for post in site.posts %}
	{% if post.categories contains 'albums' %}
		{% assign modul = counter | modulo: 3 %}
		{% if modul == 0 or forloop.first %}
			{% assign end_div = false %}
		{% endif %}
		<div class="card text-center" id="releases_card">
			<a href='{{ post.url }}'>
				<img src="/img/albums/preview/{{ post.image }}" style='width:200px;height:200px;' class='rounded'/>
			</a>
			<div class='card-body'>
				<span class="badge badge-secondary">{{ post.date | date_to_string }}</span><br>
				<p>{{ post.title }}</p>
			</div>
		</div>
		{% assign counter = counter | plus: 1 %}
		{% if modul == 2 %}
			</div>
			{% assign end_div = true %}
		{% endif %}
	{% endif %}
	{% if forloop.last and end_div == false %}
	{% endif %}
{% endfor %}
</div>