---
layout: default
title: Переводы || Rinon Ninqueon
---

<div class="container">
<p>Я увлекаюсь переводами с японского.<br>
Это манга, ранобе, аниме и песни.</p>
<!--
<h3>Манга:</h3>
<ul class="posts">
    {% for post in site.categories.manga %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
-->
<h3>Аниме:</h3>
<ul class="posts">
	<li><a href ="http://www.fansubs.ru/base.php?id=5871">Mahoutsikai Sally (1966)</a> &ndash; перевод с японского, оформление, перевод песен</li>
	<li><span>Осень 2017</span> &raquo; <a href ="http://fansubs.ru/base.php?id=5858">Urahara</a> &ndash; редактура, оформление, перевод песен</li>
	<li><span>Лето 2017</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5798">Jigoku Shoujo: Yoi no Togi</a> &ndash; перевод трейлеров с японского, перевод сериала, оформление</li>
	<li><span>Весна 2017</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5704">Yuyushiki OVA: Komarasetari, Komarasaretari</a> &ndash; перевод OVA с японского</li>
	<li><span>Осень 2016</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5565">Natsume Yuujinchou Go</a> &ndash; перевод сериала, оформление</li>
	<li><span>Осень 2016</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5135">Non Non Biyori Repeat OVA</a> &ndash; перевод OVA с японского</li>
	<li><span>Весна 2016</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5413">Anne Happy</a> &ndash; перевод трейлеров с японского, перевод сериала, оформление</li>
	<li><span>Зима 2016 (Осень 2015)</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5367">Shisha no Teikoku</a> &ndash; перевод фильма с японского</li>
	<li><span>Зима 2016</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5290">Musaigen no Phantom World</a> &ndash; перевод трейлеров с японского, перевод сериала, оформление</li>
	<li><span>Зима 2016</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5306">Dagashi Kashi</a> &ndash; перевод трейлеров с японского</li>
	<li><span>Осень 2015</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5270">Nagato Yuki-chan no Shoushitsu OVA</a> &ndash; перевод OVA с японского</li>
	<li><span>Осень 2015</span> &raquo; <a href ="http://www.fansubs.ru/base.php?id=5196">Rakudai Kishi no Cavalry</a> &ndash; перевод сериала: 9, 10 серии</li>
	{% for post in site.categories.anime %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
<h3>Песни:</h3>
<ul class="posts">
    {% for post in site.categories.song %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
<h3>Игры:</h3>
<ul class="posts">
    <li><a href="/translate/games/FarawayStoryRPG">悠遠物語 || Faraway Story RPG || Далёкая История</a></li>
</ul>
<h3>Манга:</h3>
<ul class="posts">
    {% for post in site.categories.manga %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
<h3>Ранобе:</h3>
<ul class="posts">
	<li><a href="/translate/books/ore_no_kyoushitsu_ni_haruhi_wa_inai">Ore no Kyoushitsu ni Haruhi wa Inai || В моём классе нет Харухи</a></li>
	<li><a href="https://author.today/work/49571">Suzumiya Haruhi no Raisekai de || В мире будущего Харухи Судзумии</a></li>
    {% for post in site.categories.ranobe %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
На Kage: <a href="http://fansubs.ru/base.php?au=3177">тыц</a>.<br>
</div>